#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  height: 100vh;
}
* {
  box-sizing: border-box;
}
.wrapper {
  display: block;
}

.toolbarEditor {
  background-color: #4aa3a3;
  width: 60%;
  border: 1px solid black;
  text-align: left;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
textarea {
  background-color: #86c5c5;
  width: 60%;
  border: 1px solid black;
  color: black;
  padding: 5px;
}
.editorWrap,
.previewerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbarPreviewer {
  background-color: #4aa3a3;
  width: 90%;
  border: 1px solid black;
  text-align: left;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.previewer {
  width: 90%;
  text-align: justify;
  background-color: #86c5c5;
  border: 1px solid black;
  min-height: 400px;
  padding: 5px;
}
.iconFontAw {
  width: 2em;
}
a {
  color: black;
}
a:hover {
  color: aliceblue;
}

#preview {
  padding: 0 1rem;
}
#preview blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}
#preview > p > code {
  padding: 3px;
}
#preview code {
  background: white;
  font-size: 0.875rem;
  font-weight: bold;
}
#preview pre {
  display: block;
  overflow: auto;
  background: white;
  padding: 5px;
  line-height: 1.2;
}
#preview h1 {
  border-bottom: 2px solid #224b4b;
}
#preview h2 {
  border-bottom: 1px solid #224b4b;
}
#preview table {
  border-collapse: collapse;
}
#preview td,
#preview th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}
#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}
